*{
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: rgb(31, 32, 36);
    color:#74b4a4;

}

#battle_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokebox{
    min-width: 500px;
    min-height: 500px;
    background-color: rgb(222, 226, 238);
    
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 3pt 5pt #74b4a4;

    display: flex;
    justify-content: center;
}

#root{
    display: flex;
    margin: 0 auto;
    min-height: 850px;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

button{

    font-size: 30px;
    font-weight: 900;
    color: #74b4a4;
    background-color: rgb(31, 32, 36);
    border: 7px solid #74b4a4;
    border-radius: 15px;
    transition-duration: 0.25s;
    
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

form{
    background-color: rgb(31, 32, 36);
}

button:hover{
    color: rgb(31, 32, 36);
    background-color: #74b4a4;
}

button:active{
    background-color: aquamarine;
}

.test_text{
    font-size: 30px;
    font-weight: 900;
    border-radius: 15px;
    border: 7px solid #74b4a4;
    text-align: center;

    padding: 5px;
    margin: 5px;
    transition-duration: 0.25s;
}

.test_text:hover{
    box-shadow: 0 0 30pt 2pt #74b4a4;
}

.test_input{
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess_text{
    color: #9274b4;
    background-color: rgb(31, 32, 36);
    border: 2px solid #9274b4;
    border-radius: 8px;

    transition-duration: 0.25s;
}

#guess_text.correct{
    color: #f7ca69;
    border: 2px solid #f7ca69;
}

#guess_text:hover{
    box-shadow: 0 0 30pt 2pt #9274b4;
}

#guess_text.correct:hover{
    box-shadow: 0 0 30pt 2pt #f7ca69;
}

#guess_submit{
    color: #9274b4;
    background-color: rgb(31, 32, 36);
    border: 2px solid #9274b4;
    border-radius: 8px;
}

#guess_submit:hover{
    color: rgb(31, 32, 36);
    background-color: #9274b4;
}

#guess_submit:active{
    color: rgb(31, 32, 36);
    background-color: #c19bec;
}

#textbox{
    display: flex;
    width: 400px;
    height: 50px;
    color: #74b4a4;
    font-size: 20px;
    background-color: rgb(36, 37, 43);
    border: 2px solid #74b4a4;
    border-radius: 7px;
    text-align: center;
}

#textbox:focus{
    border: 4px solid #79d1bb;
    outline: none;
}

#textbox:hover{
    box-shadow: 0 0 3pt 2pt #74b4a4;
}

#textbox.feedback_wrong {
    animation: feedbackFlash1 2s;
}

@keyframes feedbackFlash1 {
    0%   { box-shadow: 0 0 30pt 10pt #f76988; }
    100% { box-shadow: none; }
}

#textbox.feedback_right{
    animation: feedbackFlash2 2s;
}

@keyframes feedbackFlash2 {
    0%   { box-shadow: 0 0 30pt 10pt #69f7a9; }
    100% { box-shadow: none; }
}

#pika{
    width: 300px;
    height: 300px;
    display: flex;
    align-self: center;

    transition-duration: 0.5s;
}

.container_poke{
    min-width: 400px;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    
}

.attrib{
    min-width: 200px;
    box-shadow: 0 0 1pt 1pt #74b4a4;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;

    transition-duration: 2s;
}

#home_container{
    min-height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#home_button{
    display: flex;
    align-self: center;
}

.attrib.grass{
    color: #87eb97;
    box-shadow: 0 0 1pt 1pt #87eb97;
}

.attrib.water{
    color: #87b6eb;
    box-shadow: 0 0 1pt 1pt #87b6eb;
}

.attrib.fire{
    color: #ebaf87;
    box-shadow: 0 0 1pt 1pt #ebaf87;
}

.attrib.electric{
    color: #dceb87;
    box-shadow: 0 0 1pt 1pt #dceb87;
}

.attrib.dragon{
    color: #4c55da;
    box-shadow: 0 0 1pt 1pt #4c55da;
}

.attrib.steel{
    color: #acafd6;
    box-shadow: 0 0 1pt 1pt #acafd6;
}